<footer>
    <div id="footer-section" class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <ul class="footer-social-links">
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Instagram</a></li>
              <li><a href="#">What's up</a></li>
            </ul>
            
          </div> <!-- End col-sm-8 -->
        </div> <!-- End row -->
      </div> <!-- End container -->

      <app-contact></app-contact>


    </div> <!-- End footer-section  -->
  </footer>