.container{text-align: center;
 margin-bottom: 100px;
    width:800px;
height:520px;
opacity:0.7;


}
table,tr,td{margin-left: 200px;}
input{width: 300px;}
.c2{color:black;
}
.c3{
   text-align: center;
  
}
.valid{color:red;
   border-color: red;}