<div id="wrapper" >

    <!-- Hero
    ================================================== -->
      <section >
        <div id="hero-section" style="background-image: url(assets/images/vetement.jpg);" >
          <div class="hero-content">
            <div class="container">
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
    
                  <div class="hero-text">
                    <div class="herolider">
                      <ul class="caption-slides">
    
                        <li class="caption">
                          <h1>WOMEN COLLECTION</h1>
                          <div class="div-line"></div>
                          <p class="hero">HIGH QUALITY CLOTHES</p>
                        </li>
    
                        <li class="caption">
                          <h1>DECORATION</h1>
                          <div class="div-line"></div>
                          <p class="hero">MULTIPLE CHOICE</p>
                        </li>
    
                        <li class="caption">
                          <h1>ACCESSORIES</h1>
                          <div class="div-line"></div>
                          <p class="hero">ATTRACTIVE AND MAGNIFICENT JEWELRY</p>
                        </li>
    
                      </ul>
                    </div> <!-- end herolider -->
                  </div> <!-- end hero-text -->
    
                  <div class="hero-btn">
                    <a href="#landing-offer" class="btn btn-clean">Read more</a>
                  </div> <!-- end hero-btn -->
    
                </div> <!-- end col-md-6 -->
              </div> <!-- end row -->
            </div> <!-- End container -->
          </div> <!-- End hero-content -->
        </div> <!-- End hero-section -->
      </section>
      <!-- End hero section -->
</div>    