<div class="form-wrapper">
    <div class="row">
        <h3 style="text-align: center; margin-top: 150px;">You have  to fill these columns </h3>

      <div class="col-md-8 col-md-offset-2">
<form  #f [formGroup]="productForm" >
    <input ngModel name="name" #name="ngModel" type="text" class="form-control" placeholder="Your name" required>
    <!-- <div class="alert alert-danger" *ngIf="name.['invalid'] && name.['touched']">Name is required</div> -->
    
    <input ngModel name="email" #email="ngModel" type="email" class="form-control" placeholder="Email" required email>
    <!-- <div class="alert alert-danger" *ngIf="email.touched && email.errors?.['required']">Email is required</div> -->
    <!-- <div class="alert alert-danger" *ngIf="email.touched && email.errors?. ['email']">Your input doesn't match email format</div> -->
   
    <input ngModel name="number " #number="ngModel" type="number" class="form-control" placeholder="Your number" required minlength="8">
    <!-- <div class="alert alert-danger" *ngIf="number.touched && number.errors?.['required']">Number is required</div> -->
    <!-- <div class="alert alert-danger" *ngIf="number.touched && number.errors?. ['minlength']">Password should be 8 numbers</div> -->

    
    <input ngModel name="address" #address="ngModel" type="text" class="form-control" placeholder="Address" required >
    <!-- <div class="alert alert-danger" *ngIf="address.invalid && address.touched">Address is required</div> -->

    
    <input ngModel name="post" #post="ngModel" type="number" class="form-control" placeholder="post address" required >
    <!-- <div class="alert alert-danger" *ngIf="address.invalid && address.touched"> Post Address is required</div> -->

    <input  type="submit" name="submit" value="Validate" id="submit" class="btn btn-sm btn-dark" style="margin-left: 380px;margin-top: 20px;" >

</form>
</div> 
</div> 
</div> 

