<!-- Contact-section
    ================================================== -->
    <section>
        <div id="contact-section" class="pad-sec">
  
          <div class="container">
  
            <div class="title-section text-center animated out" data-animation="fadeInUp" data-delay="0">
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-2">
                    <h2>Get in touch</h2>
                    <hr>

<p>Let's talk :123456789</p>   
<p>Our Email Address: ecommerce@gmail.com</p>
<p>Welcome to all !</p>

             </div>
              </div> <!-- End row -->
            </div> <!-- end title-section -->
  
        </div> <!-- end container -->
  
        </div> <!-- End contact-section -->
      </section>
  
    
  