<button  class="btn btn-primary"routerLinkActive="actif" [routerLink]="['/adddecoration']"   style="margin-left: 90px;margin-top: 15px; margin-bottom: 15px;">Add New decoration</button>
<button class="btn btn-primary" routerLinkActive="actif" [routerLink]="['/addaccessories']"   style="margin-left: 90px;margin-top: 15px; margin-bottom: 15px;" >Add New Accessories</button>
<button  class="btn btn-primary" routerLinkActive="actif" [routerLink]="['/addclothes']"   style="margin-left: 90px;margin-top: 15px; margin-bottom: 15px;">Add New Clothes</button> 
