<!-- 



<div class="a" >
    <div class="container" >
    <form [formGroup]="productForm"  (ngSubmit)="onSubmit()"><br>
        <div>Login :<input type="email" name="login" formControlName="login" class="form-control" required="required" pattern="nourjlassi@gmail.com"></div><div *ngIf="isvalidlogin()" class="alert alert-warning"value="nour">your login is incorrect !</div><br>
        <div>Password:<input type="password" name="password" formControlName="password" class="form-control" required="required" pattern="123"></div><div *ngIf="isvalidpassword()" class="alert alert-warning" value="nour">your password is incorrecte !</div><br>
        <button [routerLink]="['/modifproducts']"  class="btn btn-warning" id="i"  [disabled]="productForm.invalid" >Submit</button>
        
           </form>
    </div>
    </div> -->

    <button  class="btn btn-primary"routerLinkActive="actif" [routerLink]="['/adddecoration']"  [disabled]="productForm.invalid" style="margin-left: 90px;margin-top: 15px; margin-bottom: 15px;">Add New decoration</button>
    <button class="btn btn-primary" routerLinkActive="actif" [routerLink]="['/addaccessories']"  [disabled]="productForm.invalid" style="margin-left: 90px;margin-top: 15px; margin-bottom: 15px;" >Add New Accessories</button>
    <button  class="btn btn-primary" routerLinkActive="actif" [routerLink]="['/addclothes']"  [disabled]="productForm.invalid" style="margin-left: 90px;margin-top: 15px; margin-bottom: 15px;">Add New Clothes</button> 


     <h2  class="text-center subheading" >WELCOME DEAR ADMIN</h2>
     <h3>Modify the accessories</h3>
     <table class="table" style=" width: 150%;">
         <thead>
           <tr>
             <th scope="col">Photo </th>
             <th scope="col">Nom</th>
             <th scope="col">Prix</th>
             <th></th>
            
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let t of items;index as i">
             <td scope="row" class="text-center">  <img [src]="t.photo" style="width: 100px;"></td>
             <td> {{t.nom|titlecase}}</td>
             <td >{{t.prix}} DT</td>
             <td> <button  style="margin-right: 30px;"[routerLink]="['/admin',t.id]" class="btn btn-primary">Modifier</button> </td>
           </tr>
         </tbody>
     </table>
     
     <app-a2></app-a2>
     <app-a3></app-a3>