 <!-- les produits
  ================================================== -->
 
 
  <section>
    <div id="landing-offer" class="pad-sec">
      <div class="container">
    
               <img src="assets/images/ligne2.jpg" style=" margin-left: 400px; "/>
          
  
         
        

        <div class="team-members">
          <div class="row">

            <!-- member-team -->
            <div class="col-sm-4">
              <div class="member-team animated out" data-animation="fadeInLeft" data-delay="0">
                <img  src="assets/images/clothes.jpg" alt="" style="height:537px;"><br><br>
                

                <div class="magnifier">
                  <div class="magnifier-inner">
                    <h3>CLOTHES</h3>
                  
                    <p>HIGH QUALITY CLOTHES</p>
                    <p>We have different styles of clothes in different colors and sizes.</p>
                    
                  </div> <!-- End magnifier-inner -->
                </div> <!-- End magnifier -->
              </div> <!-- End member-team -->
              <button routerLinkActive="actif" routerLink="/clothes" style=" margin-left: 165px; ">See More</button>
              <!-- <button  class="btn btn-primary" routerLinkActive="actif" [routerLink]="['/addclothes']" style="margin-left: 90px;margin-top: 15px; margin-bottom: 15px;">Add New Clothes</button> -->

            </div>
            <!-- End col-sm-4 -->

            <!-- member-team -->
            <div class="col-sm-4">
              <div class="member-team animated out" data-animation="fadeInUp" data-delay="0">
                <img src="assets/images/bijoux.jpg" alt=""><br><br>

                <div class="magnifier">
                  <div class="magnifier-inner">
                    <h3>ACCESSORIES</h3>
                    <p>ATTRACTIVE AND MAGNIFICENT JEWELRY</p>
                    <p>You can decorate your body and limbs with the most beautiful ornaments and exquisite jewelry.</p>
                  </div> <!-- End magnifier-inner -->
                </div> <!-- End magnifier -->
              </div> <!-- End member-team -->
              <button routerLinkActive="actif" routerLink="/accessories" style=" margin-left: 150px; ">See More</button>
              <!-- <button class="btn btn-primary" routerLinkActive="actif" [routerLink]="['/addaccessories']" style="margin-left: 90px;margin-top: 15px; margin-bottom: 15px;" >Add New Accessories</button> -->

            </div> <!-- End col-sm-4 -->

            <!-- member-team -->
            <div class="col-sm-4">
              <div class="member-team animated out" data-animation="fadeInRight" data-delay="0">
                <img src="assets/images/decore.jpg" alt=""><br><br>

                <div class="magnifier">
                  <div class="magnifier-inner">
                    <h3>DECORATION   
                     </h3>
                    <p>MULTIPLE CHOICE</p>
                    <p>You can decorate your room and home with comfortable and beautiful decoration.</p>
                  </div> <!-- End magnifier-inner -->
                </div> <!-- End magnifier -->
              </div> <!-- End member-team -->
              <button routerLinkActive="actif" [routerLink]="['/decoration']" style=" margin-left: 150px; ">See More</button>
              <!-- <button  class="btn btn-primary"routerLinkActive="actif" [routerLink]="['/adddecoration']"  style="margin-left: 90px;margin-top: 15px; margin-bottom: 15px;">Add New decoration</button> -->

            </div> <!-- End col-sm-4 -->

          </div>
        </div> <!-- End team-members -->
      </div> <!-- End container -->
    </div> <!-- End team-section -->
  </section>
 




        