<ng-container *ngFor="let event of data">
    <ng-container *ngIf="event.id == id">
  <div class="container text-center">
    <h2  class="text-center subheading" >Modifier le {{event.nom}}</h2>
    <form #f="ngForm" (ngSubmit)="onSubmit(f,event.id)">
      <div id="i">
        
            <label for="">nom</label>
            <input type="text"  name="categorie" [(ngModel)]="event.nom" #categorie="ngModel" ngModel  class=" form-control col-md-3" />
            <label for="">Prix</label>
            <input type="number"  name="prix" #prix="ngModel" [(ngModel)]="event.prix" ngModel  class=" form-control col-md-3" />
  
           <label for="">Image</label>
            <input  name="img"   #img="ngModel"  ngModel  [(ngModel)]="event.photo"  class=" form-control col-md-3" >
        </div>
        <br>
        <button class="btn btn-shadow" >Ajouter</button>
      </form>
  </div>
    </ng-container></ng-container>