<!-- <app-presentation></app-presentation>
<app-products></app-products> -->
<!-- <app-admin></app-admin>

  <app-signup></app-signup> -->
  <!-- 1er banner
  ================================================== -->
  <section>
    <div id="banner-services" data-stellar-background-ratio="0">
      <div class="container">
        <div class="row">

          <div class="col-sm-6">
            <div class="banner-content animated out" data-animation="fadeInUp" data-delay="0">
              <h3 class="banner-heading">Welcome to our site. We will provide you with the best services with a guarantee of the best and finest products</h3>
            
            </div> <!-- end banner-content -->
          </div> <!-- end col-sm-6 -->

          <div class="col-sm-6">
            <div class="banner-image animated out" data-animation="fadeInUp" data-delay="0">
              <img src="assets/images/room.jpg" alt="">
            </div> <!-- end banner-image -->
          </div> <!-- end col-sm-6 -->
          
        </div> <!-- end row -->
      </div> <!-- end container -->
    </div>
  </section>
  <app-comments></app-comments>
 <!-- Back-to-top
================================================== -->
<div class="back-to-top" >
    <i class="fa fa-angle-up fa-3x"></i>
  </div> <!-- end back-to-top -->
  <!-- <app-registration></app-registration> -->
  <app-login></app-login>
<!-- 2  eme banner
  ================================================== -->
  <section>
    <div id="clients-section" class="clients-bg2" data-stellar-background-ratio="0" >
      </div> 
  </section>
   

