<app-presentation></app-presentation>
<app-products></app-products>
<!-- Video section
  ================================================== -->
  <section>
    <div id="video-section" data-stellar-background-ratio="0">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <div class="video-section-content text-center">
              <a href="https://www.youtube.com/watch?v=zsu2WRFaUoQ" class="video-pop-up"><i class="fa fa-play"></i></a>
              <div class="video-head">Versace Spring Summer 2022 Fashion Show</div>
              <div class="video-sub-heading">Check out this video to know more about fashion 2022</div>
            </div>
          </div> <!-- end col-sm-6 -->
        </div> <!-- end row -->
      </div> <!-- end container -->
    </div>
  </section>
  <!-- End Video section -->
  <app-comments></app-comments>
  <section>
    <div id="banner-services" data-stellar-background-ratio="0">
      <div class="container">
        <div class="row">

          <div class="col-sm-6">
            <div class="banner-content animated out" data-animation="fadeInUp" data-delay="0">
              <h3 class="banner-heading">Welcome to our site. We will provide you with the best services with a guarantee of the best and finest products</h3>
            
            </div> <!-- end banner-content -->
          </div> <!-- end col-sm-6 -->

          <div class="col-sm-6">
            <div class="banner-image animated out" data-animation="fadeInUp" data-delay="0">
              <img src="assets/images/room.jpg" alt="">
            </div> <!-- end banner-image -->
          </div> <!-- end col-sm-6 -->
          
        </div> <!-- end row -->
      </div> <!-- end container -->
    </div>
  </section>
   <!-- Back-to-top
================================================== -->
<div class="back-to-top" >
    <i class="fa fa-angle-up fa-3x"></i>
  </div> 

