
    <section>
      <div id="screenshots-section" class="pad-sec">
        <div class="container">
         <div class="title-section text-center animated out" data-animation="fadeInUp" data-delay="0">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <h2>some points of view</h2>
                <hr>
            </div>
          </div> 
         </div> 

          <div class="row">
            <div class="col-md-12">
              <div class="screenshots-carousel animated out" data-animation="fadeInUp" data-delay="0" >
                <div *ngFor="let acc of items">

                <div >
                  <div class="c1" class="col-md-3 ">
                    <img src="assets/images/star.gif" alt="star" style="width: 50px;">
                   {{acc.data.Message}}
                  </div> 
                </div> 
                </div>
                
                

              </div> 
            </div> 
          </div> 
        </div>
      </div> 
   </section> 
   

  
